---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<p>A selection of astrophotographs I have taken with my own equipment, away from city
lights. They are made for the pleasure of observing rather than for measurement, but the
targets are the same ones that turn up in my research: galaxies, star-forming regions, and
the changing objects of the solar system. Click a title to see the full-size image.</p>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

